<div class="container">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <a href="/parks/crear">Crea un Parque</a>
  <br>
  <a href="/coasters/crear">Crea una montaña rusa</a>
  <br>
  <a href="/coasters/listaCoaster">Lista de montañas rusas</a>
  <br>
  <a href="/parks/listaParques">Lista de parques</a>
</div>